html{
    overflow-x: hidden;}
body{
background-color: black;
overflow-x: hidden;
 
}
 
.logo{
    margin-right: 2cm;
}
.boton-login{
    margin-left: 50vh;
    margin-top: 1vh;
    color:white;
    background-color: blue;
}
@media (min-width: 800px) {
.boton-login{
    position:absolute,!important;
    right: 10cm,!important;
    color:white;
    background-color: blue;
}
}
@media (min-width: 800px) {
.Kart{
    position:relative;
    left: 6cm;
 background-color:blue; 
    color: white;
     
    width: 2cm;
}}

.Kart{
    margin-left:5vh;
    margin-top: 1vh;
    background-color: blue;
    color: white;
     
    width: 2cm;
}
.carousel-inner{
    width: 100%;
    height: 30vh;
}
#carouselExampleIndicators{
width: 100%;
height: 50vh;

}
#boton{
    position: relative;
    bottom: 0.4cm;
}
#boton2{
    position: relative;
    top: 0.5cm;
}
#amd{
    height: 30vh;
}
#intel{
    height: 30vh;
}
#nvidia{
    height: 30vh;
}
.card-body{
    height:  26vh;
}
 
#nv{
    height: 30vh;
}
 
.notificaciones{
    width: 100%;
    color: white;
    background-color:blue;
    height: 100px;
    position: relative;
   top: 1em;}


.text3{
    color: white;
    position: relative;
    top: 2em;
}
.subs{
    position: relative;
    left: 42em;
    bottom: 3.6em;
}
@media (min-width: 800px) {
.text3{
     color: white;
     position: relative;
     top: 2em;
     left: 4em;
    
}}
.email{
    margin-top:0.5em;
    position: relative;
    bottom: 1em;
    left: 1em;
}
#phone{
    position: relative;
    left: 40em;
    bottom: 3.6em;
}
a{
    color: white;
}
.logo2{
    margin-left: 4px;
}
.kingston{
    width: 100%;
    height: 20vh;
}
#western-digital-logo{
    width: 100%;
    height: 15vh;
}
@media (min-width: 800px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
#msg{
    width: 20em;
    height: 10em;
}
 @media (max-width: 800px) {
    .notificaciones{
        font-size:large;
        width: 100%;
        color: white;
        background-color:blue;
        height: 205px;
        position: relative;
       top: 1em;}
       .subs{
        position: relative;
        left: 42em;
        bottom: 3.6em;
    }
     
}
@media (max-width: 800px) {
.email2{
   
    position: relative;
    top: 3em;
     
    right: 40em;

}
}
@media (max-width: 800px) {
.text3{
   
    
     position: relative;
   left: 4em;

}
#phone{
    margin-top: 1em;
}}
